{% extends "base_generic.html" %}
{% block content %}

<body id="app-layout" style="background-color:#dbe1dd">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <!-- Branding Image -->
                <a id="start" class="navbar-brand btn-xs btn-default" height="6" role="button">CIRCA</a>
            </div>
        </div>
    </nav>

<div id="mainpanel">
<div class="container">
<div class="media">
  <div class="media-body">
       <h1 id="media-title" align="center" class="media-heading">Please select a topic below to view our selection of photographs and video, or listen to some music</h1>
       <button id="closeButton" class="closebn" onclick="showDiv('closeButton','Entertainment')">Close</button>
  </div>

  <div>                     
  <div id="cont" >                      
  <div class="masthead">
  <nav>
  <ul id="md" class="nav navbar-fixed-bottom menu-disappear" >    
	  <ul id="categories" style="display:none" class="btn-group btn-group-justified" role="group">
            <li class="dropup btn-group " role="group">
	    <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:xx-large;">Photographs</a>
		<ul class="dropdown-menu circa-class themeA"  style="visibility:hidden">
		{% for subtheme in subtheme %}
		<li class="circa-button"><button id="choice" value="18" class="circa-button menu-item btn" onclick="showDiv('nightout','Entertainment')" style="font-size:xx-large;">{{ subtheme.subtheme }}</button></li>    
		{% endfor %}
	</ul>

		<ul class="dropdown-menu circa-class themeB" style="visibility:hidden">
                     <li class="circa-button" ><button type="submit" id="choice" value="35" class="circa-button menu-item btn btn-lg" onclick="showDiv('nightout','Entertainment')" style="font-size:xx-large;">Fashion</button></li>
                </ul>
                <ul class="dropdown-menu circa-class themeC" style="visibility:hidden">
                     <li class="circa-button" ><button  type="submit" id="choice" value="11" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;">Youth organisations</button></li>
                </ul>
             </li>

                           <li class="dropup btn-group" role="group">
                             <a class="dropdown-toggle btn btn-lg Childhood" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:xx-large;">Videos</a>
                             <ul class="dropdown-menu circa-class Entertainment" style="visibility:hidden">
                               <li class="circa-button"><button onClick="showDiv('yout','Entertainment')" type="submit" id="choice" value="Grace Kelly weds" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;">Vancouver Neon</button></li>
                               <li class="circa-button"><button onClick="showDiv('vid','Entertainment')" type="submit" id="choice" value="Laurel &amp; Hardy" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;">Bus Depot</button></li>
                           </ul>

                           <ul class="dropdown-menu circa-class Recreation" style="visibility:hidden">
                               <li class="circa-button"><button type="submit" id="choice" value="We are the Lambeth Boys" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;letter-spacing:-1.5px;">We are the Lambeth Boys</button></li>
                           </ul>

                           <ul class="dropdown-menu circa-class Childhood" style="visibility:hidden">
                               <li class="circa-button"><button type="submit" id="choice" value="One Potato, Two Potato" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;letter-spacing:-1.5px;">One Potato, Two Potato</button></li>
                           </ul>
                       </li>

                       <li class="dropup btn-group" role="group">
                         <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:xx-large;">Music</a>
                         <ul class="dropdown-menu dropdown-menu-right circa-class Entertainment" style="visibility:hidden">

                           <li class="circa-button"><button  type="submit" id="choice" value="19" class="circa-button menu-item btn btn-lg" onClick="showDiv('music','Entertainment')" style="font-size:xx-large;" >Golden years</button></li>
                           <li class="circa-button"><button  type="submit" id="choice" value="20" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;" >The Entertainers</button></li>
                       </ul>

                       <ul class="dropdown-menu dropdown-menu-right circa-class Recreation" style="visibility:hidden">
                           <li class="circa-button"><button  type="submit" id="choice" value="40" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;" >Pop songs</button></li>
                           <li class="circa-button"><button  type="submit" id="choice" value="41" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;" >Rock n&#039; roll music</button></li>
                       </ul>

                       <ul class="dropdown-menu dropdown-menu-right circa-class Childhood" style="visibility:hidden">
                           <li class="circa-button"><button  type="submit" id="choice" value="12" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;" >Children&#039;s songs</button></li>
                           <li class="circa-button"><button  type="submit" id="choice" value="13" class="circa-button menu-item btn btn-lg" style="font-size:xx-large;" >Theme tunes</button></li>
                       </ul>
                   </li>        
               </ul>            


               <div class="btn-group btn-group-justified" role="group">
		
		<div class="btn-group">
			<a href="#" onclick="$('#categories').show(); 
			       setInstructions();
			       setCIRCABackground('themeA' , 'bg-danger'); 
			       changeVisibility('themeA'); 
			       "class="btn-lg btn btn-warning" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:xx-large;" >{{ themeA }}</a>
               	</div>
		<div class="btn-group">
                        <a href="#" onclick="$('#categories').show(); 
                               setInstructions();
                               setCIRCABackground('themeB' , 'bg-info'); 
                               changeVisibility('themeB'); 
                               "class="btn-lg btn btn-warning" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:xx-large;" >{{ themeB }}</a>
               </div>
	       <div class="btn-group">
                        <a href="#" onclick="$('#categories').show(); 
                               setInstructions();
                               setCIRCABackground('themeC' , 'bg-warning'); 
                               changeVisibility('themeC'); 
                               "class="btn-lg btn btn-warning" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:xx-large;" >{{ themeC }}</a>
               </div>






           </ul>
       </nav>
   </div>   
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




<!-- JavaScripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="components/Bootstrap-Image-Gallery-3.4.2/js/bootstrap-image-gallery.min.js"></script>
<script src="components/Gallery-master/js/blueimp-gallery.min.js"></script>
{% endblock %}
