<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CIRCA-ON Magnified Image</title>
</head>
<body>
    <div class="magnified-image">
        <img src="{{ url_for('static', filename=image) }}" alt="Magnified Image" class="magnified-image">
    </div>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script>
        // JavaScript code for any additional functionality related to magnified.html
    </script>
</body>
</html>
