<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>People and Events</title>
</head>
<body>
    <div class="top-banner">
        <h1>People and Events</h1>
    </div>

    <div class="content">
        <h2>Welcome to the People and Events Page</h2>
        <p>Get inspired by the remarkable individuals and events that shape our world.</p>
        <!-- Add more content specific to the People and Events page -->
    </div>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
