<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CIRCA</title>
	<!-- Fonts -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel='stylesheet' type='text/css'>
	<!-- Styles -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="justified-nav.css"></link> -->
	<!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
	<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="components/Bootstrap-Image-Gallery-3.4.2/css/bootstrap-image-gallery.min.css">
	<link rel="stylesheet" href="components/Gallery-master/css/blueimp-gallery.min.css">
	<!-- link rel="stylesheet" href="components/circa.css" -->
	<link rel="icon" type="img/png" href="https://catch.shef.ac.uk/circa/public/resources/media/logos/circa.png" />
	<script src="myscripts.js"></script>
  	<link rel="stylesheet" href="styles.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Add additional CSS in static file -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="{% static 'app.js' %}"></script>   
</head>

<body>

	{% block content %} {% endblock %}







</body>


</html>

